<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.code.travellog">
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name="com.code.travellog.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/MyCheckBox"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        tools:targetApi="n">
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="9778dd871a7f95d19120894df86230fb">
            </meta-data>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name="com.code.travellog.core.view.MainActivity"/>
        <activity android:name=".core.view.user.LoginActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light"/>
        <activity android:name=".core.view.user.RegisterActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light"/>
        <activity android:name=".core.view.user.ForgetPwdActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light"/>
        <activity android:name=".core.view.user.UserInfoActivity" />
        <activity android:name=".core.view.picture.PictureShowActivity" />
        <activity android:name=".core.view.picture.MyPreviewActivity"/>
        <activity android:name=".core.view.user.ResetPwdActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light"/>
        <activity android:name="com.code.travellog.core.view.common.CommonActivity" />
        <activity android:name=".core.view.plog.MakePlogActivity"/>
        <activity android:name="com.code.travellog.core.view.plog.PlogDetailsActivity" />
        <activity android:name=".core.view.album.MakeAlbumActivity"/>
        <activity android:name=".core.view.album.MyAlbumActivity"/>
        <activity android:name=".core.view.map.MapActivity"/>
        <activity android:name=".core.view.map.MapAnimationActivity"/>
        <activity android:name=".ai.realtimedetection.DetectorActivity"/>
        <activity android:name="com.code.travellog.core.view.mine.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light"/>
        <activity android:name=".core.view.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".core.view.DemoActivity"/>
        <activity
            android:name="com.code.travellog.core.view.video.VideoDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <meta-data
            android:name="com.code.travellog.glide.GlideConfig"
            android:value="GlideModule" />
    </application>



</manifest>